image: cypress/included:13.13.0

stages:
  - test

test:e2e:
  stage: test
  script:
    # 安全驗證 Cypress binary
    - npx cypress verify
    # 執行測試
    - npx cypress run --browser chrome
  artifacts:
    when: always
    paths:
      - cypress/videos
      - cypress/screenshots
