name: Windows CI + Cypress + Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test-and-deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      
      

      - name: Run Cypress
        run: npx cypress run --browser chrome
        
      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
         name: cypress-report
         path: cypress/results


