name: Windows CI + Cypress + Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test-and-deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: npm ci
        
      - name: Install mochawesome
        run: npm install cypress-mochawesome-reporter --save-dev

      - name: Start server
        run: npm install start-server-and-test --save-dev
        
      - name: Run Cypress
        run: npx cypress run

